* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

body {
    background: rgb(128, 128, 128, .6);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 70%;
    height: auto;
    /* border: 1px solid red; */
    margin: auto;
    background: #fff;
}

header nav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

header nav h5 span {
    color: orangered;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 30px 0px 3px 30px;
}

header nav ul li a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    color: rgb(0, 0, 0, .7);
    transition: .3s linear;
}

header nav ul li a:hover {
    color: #000;
}

header nav ul li a i {
    margin-right: 3px;
}

header .brand_nav {
    width: 100%;
    height: 50px;
    background: #000;
    color: #fff;
}

header .brand_nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    transition: .3s linear;
    padding: 0px 20px;
}

header .brand_nav ul li {
    position: relative;
    transition: .3s linear;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .brand_nav ul li a {
    text-decoration: none;
    font-size: 13px;
    color: rgb(193, 193, 193, .5);
    transition: .3s linear;

    height: 100%;
}

header .brand_nav ul li a:hover {
    color: rgb(255, 255, 255);
}

header .brand_nav ul li i {
    margin-left: 6px;
    transition: .3s linear;
}

header .brand_nav ul li:nth-last-child(1) i {
    color: orangered;
}

header .brand_nav ul li img {
    width: 60px;
}

header .brand_nav ul li:nth-child(2) {
    background: orangered;
    width: 130px;
}

header .brand_nav ul li:nth-child(4) {
    width: 130px;
}

header .brand_nav ul li:nth-child(4):hover {
    background: orangered;
}

header .brand_nav ul li :nth-child(1) .select_bx {
    position: absolute;
    top: 100%;
    width: 90%;
    height: 0px;
    background: orangered;
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, .5);
    overflow: hidden;
    transition: 2s linear;
    opacity: 0;
}

header .brand_nav ul li :nth-child(1) .select_bx h5 {
    padding: 5px 0px;
}

header .brand_nav .li_bx {
    width: 100%;
    height: auto;
    background: orangered;
    padding: 8px 0px;
}

header .brand_nav .li_bx li {
    color: #fff;
    transition: .3s linear;
    cursor: pointer;
    font-weight: 600;
}

header .brand_nav .li_bx li:hover {
    color: #000000;
}

section {
    display: flex;
    height: auto;
    width: 70%;
    margin: 34px auto 0px auto;
    background: #fff;
}

section aside,
.shoes_bx {
    width: 82%;
    height: auto;
}

section aside {
    width: 18%;
}

section .shoes_bx {
    padding: 0px 30px;
}

section .shoes_bx nav {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0, .1);
}

section .shoes_bx nav h6 i {
    margin: 0px 3px;
}

section .shoes_bx nav h6 span {
    color: grey;
}

section .shoes_bx section {
    width: 100%;
    height: 40px;
    margin: 0;
    margin-top: 15px;
}

section .shoes_bx section .title_shortby {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .shoes_bx section .title_shortby h4 {
    font-weight: 600;
}

section .shoes_bx section .title_shortby .select {
    position: relative;
}

section .shoes_bx section .title_shortby .select_sortby button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6px 0px;
    width: 150px;
    border: 1px solid rgb(0, 0, 0, .1);
    border-radius: 2px;
    background: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
}

section .shoes_bx section .title_shortby .select_sortby .shor_opt {
    position: absolute;
    width: 150px;
    height: 0;
    padding: 5px 10px 10px 10px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    transition: .3s linear;
    overflow: hidden;
    opacity: 0;
}

section .shoes_bx section .title_shortby .select_sortby .shor_opt li {
    padding: 5px 0px;
    list-style: none;
    background: rgb(0, 0, 0, .1);
    margin: 5px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s linear;
}

section .shoes_bx section .title_shortby .select_sortby .shor_opt li:hover {
    background: black;
    color: white;
}
/* js class */
section .shoes_bx section .title_shortby .select_sortby .shor_opt_active {
    height: 150px;
    opacity: 1;
    z-index:999999999999991;
}

section .shoes_bx .main_shoes_bx {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

section .shoes_bx .main_shoes_bx .card {
    position: relative;
    width: 170px;
    height: 240px;
    /* border: 1px solid black; */
    border-radius: 5px;
    margin: 5px 5px 25px 0px;
    text-decoration: none;
    transition: .3s linear;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, .1);
    padding: 5px;
}

section .shoes_bx .main_shoes_bx .card:hover {
    box-shadow: 0px 0px 20px rgb(0, 0, 0, .6);
    border: 1px solid rgb(255, 255, 255);
}

section .shoes_bx .main_shoes_bx .card:active {
    border: .5px solid rgb(0, 0, 0, .5);
}

section .shoes_bx .main_shoes_bx .card img {
    width: 100%;
    height: 150px;
}

section .shoes_bx .main_shoes_bx .card .card_title {
    font-size: 11px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* text....*/
    color: black;
}

section .shoes_bx .main_shoes_bx .card p {
    font-size: 11px;
    font-weight: 500;
    color: grey;
}

section .shoes_bx .main_shoes_bx .card .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}

section .shoes_bx .main_shoes_bx .card .price h5 {
    font-size: 11px;
    color: black;
}

section .shoes_bx .main_shoes_bx .card .price h5:nth-child(2) {
    font-size: 9px;
    color: rgb(92, 91, 91);
}

section .shoes_bx .main_shoes_bx .card .color_tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    border-top: 1px solid rgb(0, 0, 0, .1);
}

section .shoes_bx .main_shoes_bx .card .color_tag h6 {
    font-size: 8px;
    margin-top: 3px;
    color: grey;
}

section .shoes_bx .main_shoes_bx .card .color_tag h6:nth-child(2) {
    color: rgb(245, 57, 0);
}

section .shoes_bx .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0px 30px 0px;
}

section .shoes_bx .pagination a{
    width: 20%;
    padding: 8px 0px;
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0, .1);
    font-size: 12px;
    text-align: center;
    transition: .3s linear;
}
section .shoes_bx .pagination a:hover{
    color: #fff;
    background: orangered;
}
section .shoes_bx .pagination h6{
    width: 40%;
    text-align: center;
    border-top: 1px solid rgb(0, 0, 0, .1);
    border-bottom: 1px solid rgb(0, 0, 0, .1);
    padding: 8px 0px;
    color: orangered;
    font-size: 10px;
}

section aside {
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
}
section aside .filter_bx{
    width: 160px;
    height: auto;
    background: rgb(0, 0, 0, .1);
    padding: 10px;
}

section aside .filter_bx  .filter{
    font-size: 12px;
}

section aside .filter_bx  .total_shose{
    font-size: 11px;
    margin-top: 3px;
}
section aside .filter_bx  .shoes_check{
    width: 100%;
    height: auto;
    border-top: 1px solid rgb(0, 0, 0, .1);
    margin-top: 10px;
}
section aside .filter_bx  .shoes_check .shoes_checked{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 8px;
    margin: 10px 0px;
    background: #000;
    color: #fff;
}
/* js class */
section aside .filter_bx  .shoes_check_off{
    background: none;
    color: black;
}
section aside .filter_bx  .shoes_check li{
    width: 90%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    font-size: 12px;
    font-weight: 500;
}
section aside .filter_bx  .shoes_check li i{
    font-size: 14px;
    transition: .3s linear;
    cursor: pointer;
}
section aside .filter_bx  .shoes_check li i:hover{
    color: orangered;
}
/* js class i active */
section aside .filter_bx  .shoes_check li .i_active{
    color: orangered;
}

section aside .filter_bx  .shoes_check .input_p{
    position: relative;
    display: flex;
    align-items: center;
}
section aside .filter_bx  .shoes_check .input_p::before{
    content: '';
    position: absolute;
    width: 88%;
    height: 3px;
    background: rgb(0, 0, 0, .3);
    top: 10px;
    left: 0;
}
section aside .filter_bx  .shoes_check .input_p .input1{
    position: relative;
    width: 44%;
}
section aside .filter_bx  .shoes_check .input_p .input1 input{
    z-index: 99999999;
    opacity: 0;
    cursor: pointer;
    width: 100%;
}
section aside .filter_bx  .shoes_check .input_p .input1 i{
    position: absolute;
    top: 3px;
    left: 0%;
    transition: 1s linear;
}
section aside .filter_bx  .shoes_check .input_p .input1:nth-child(2) i{
    left: 100%;
}
section aside .filter_bx .shoes_check .input_price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}
section aside .filter_bx .shoes_check .input_price h6{
    border: 1px solid rgb(0, 0, 0, .3);
    padding: 3px 12px;
    color: rgb(0, 0, 0, .8);
}
section aside .filter_bx .shoes_check .color_bx{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
section aside .filter_bx .shoes_check .color_bx h6{
    border: 14px solid #fff;
    border-radius: 50%;
    margin: 3px;
    cursor: pointer;
}
section aside .filter_bx .shoes_check .color_bx h6:nth-child(2){
    border: 14px solid #bdbdeb;

}
section aside .filter_bx .shoes_check .color_bx h6:nth-child(3){
    border: 14px solid #efc229;

}
section aside .filter_bx .shoes_check .color_bx h6:nth-child(4){
    border: 14px solid #cab43a;

}
section aside .filter_bx .shoes_check .color_bx h6:nth-child(5){
    border: 14px solid #ff854e;

}
section aside .filter_bx .shoes_check .color_bx h6:nth-child(6){
    border: 14px solid #40854e;

}
section aside .filter_bx .shoes_check .color_bx h6:nth-child(7){
    border: 14px solid #5686b6;

}
section aside .filter_bx .shoes_check .color_bx h6:nth-child(8){
    border: 14px solid #d93782;

}
section aside .filter_bx .shoes_check .color_bx h6:nth-child(9){
    border: 14px solid #c04442;

}
section aside .filter_bx .shoes_check .color_bx h6:nth-child(10){
    border: 14px solid #544b7a;

}
section aside .filter_bx .shoes_check .color_bx h6:nth-child(11){
    border: 14px solid #7a7b7f;

}
section aside .filter_bx .shoes_check .color_bx h6:nth-child(12){
    border: 14px solid #523d2a;

}
section aside .filter_bx .shoes_check .color_bx h6:nth-child(13){
    border: 14px solid #000;

}
section aside .filter_bx .shoes_check .color_bx h5:nth-child(14){
    border-radius: 50%;
    border-top:14px solid #40854e;
    border-right:14px solid yellow;
    border-bottom:14px solid red;
    border-left:14px solid rgb(0, 229, 255);
    cursor: pointer;
}
section aside .filter_bx .shoes_check .size_bx{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
}
section aside .filter_bx .shoes_check .size_bx h6{
    border: 2px solid rgb(0, 0, 0, .8);
    padding: 5px 7px;
    cursor: pointer;
    margin: 5px;
}